.translation {
  display: inline-block;

  position: relative;
  width: calc(100% - 150px);
}

.translation__bar {
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  background-color: rgba(64, 179, 64, 0.31);
}

.translationlist__item:nth-child(odd) .translation__bar {
  background-color: rgba(64, 179, 64, 0.4);
}

.translation__value {
  position: relative;

  padding: 5px;
}

.language {
  display: inline-block;

  width: 150px;

  padding: 5px;
}

.translationlist__item:nth-child(odd) .language{
  background-color: #F3F3F3;
}
